/* Cart page */

.qty {
  width: 40px;
  height: 24px;
  text-align: center;
}

.qtyplus {
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  padding: 5px;
  margin: 2%;
}
.qtyminus {
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  padding: 5px;
  margin: 2%;
}

/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}
